<%= form_with(url: "/", method: :get) do %>
  <%= label_tag :prompt, "Enter a prompt:" %>
  <%= text_field_tag :prompt %>
  <%= submit_tag "Submit" %>
<% end %>

<% if @generated_text.present? %>
  <p><%= @generated_text %></p>
<% end %>